name: OSINT Automation

on:
  schedule:
    - cron: '0 8 * * *' # S'exécute chaque jour à 8h00 UTC
  workflow_dispatch: # Permet de cliquer sur un bouton pour mettre à jour manuellement

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Autorise le robot à modifier data.json
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install feedparser

      - name: Run Scraper
        run: python veille.py

      - name: Commit data
        run: |
          git config --global user.name "Intelligence-Bot"
          git config --global user.email "bot@github.com"
          git add data.json
          git commit -m "Auto-update news: $(date)" || exit 0
          git push
